@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

body {
    background-color: rgb(173, 108, 199);
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
}

h1 {
    text-align: center;
}

#container {
    height: 590px;
    width: 360px;
    margin: 70px auto;
    background-color: gainsboro;
    box-shadow: 0 2px 2px rgb(184, 177, 180);
    border-radius: 20px;
}

#totaltip {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.title {
    background-color: rgb(211, 195, 195);
    color: gray;
    padding: 20px;
    text-transform: uppercase;
    font-size: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.formstyle {
    padding-left: 20px;
    padding-right: 20px;
}

.formway {
    background-color: white;
    width: 100px;
}

.formway:hover {
    border-color: rgb(228, 26, 36);
}

.formnote {
    width: 250px;
}

.formnote:hover {
    border-color: rgb(228, 26, 36);
}

.textform {
    width: 300px;
    padding: 5px;
}

.textform:hover {
    border-color: rgb(228, 26, 36);
}

.submitform {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: auto;
    border-radius: 20px;
    height: 30px;
    width: 200px;
    background-color: rgb(145, 190, 175);
}

.radio {
    font-weight: bold; 
}

button:hover {
    background: darkslateblue;
    border-color: rgb(247, 144, 229);
    font-size: 15px;
    transform: scale(1.15);
    transition: all 0.5s;
    transition-delay: 0.2s;
    cursor: pointer;
}